@media only screen and (max-width: 930px)
  .navbar-button>span
    display: none
@media only screen and (max-width: 666px) 
  .navbar
    height: 55px
    display: flex
    bottom: 0px
    justify-content: space-evenly
    position: fixed
  .navbar-button>span
    display: none
  .navbar-account-name, .arrow-down
    display: none
  .navbar-logo
    background: url("../assets/images/orange-goose.svg") !important
    background-repeat: no-repeat !important
    background-size: contain
    transform: scale(0.9)
    width: 70px !important
    height: 50px !important
  .navbar-account-pfp, .navbar-account-pfp>img
    width: 40px !important
    height: 40px !important
  .navbar-account
    width: 50px
    padding: 0px !important
  .navbar-buttons
    width: 100vw
    text-align: center
  #background-for-buttons
    width: 5px !important
    top: -3px !important
    left: 2px !important
// @media (any-pointer: coarse)
//   .icon
//     top: 4px !important
//     left: -2px !important
