$brandColor: #F68221
$primaryDark: #333333
$generalBlocksBG: #ffffff66 //white 40%
$iconLinkTag: #A3A3A3
$border: #D3D3D3
$inactiveButtons: #D9D9D9
$lightBorder: #E4E4E4
$menuHover: #E4E4E4
$generalWhite: #ffffff
$webDesigner: #D273FF
$administrator: #BB1313
$coder: #0177FB
$curator: #02A555
$tester: #4A3977

@font-face 
  font-family: gr-semibold
  src: url("../assets/Gilroy-SemiBold.ttf")
  font-style: normal

@font-face 
  font-family: gr-regular
  src: url("../assets/Gilroy-Regular.ttf")
  font-style: normal

body
  background: #fff
  font:
    family: gr-semibold
    size: 13pt